.App {
  display: flex;
  margin: 5%;
  background-color: bisque;
  text-align: center;
 flex-direction: column;
}
.search {
  flex: 1;
  background-color: brown;
}
.secondContainer {
  display: flex;
  flex-direction: row;
}

.containerLeft {
  flex: 1;
  padding: 2%;
  background-color: aqua;
}

.containerRight {
  flex: 1;
  padding: 2%;
  background-color: blueviolet;
}